{% extends 'site.html' %}
{% block site_content %}
    <h1 style="margin-top: 10%" class="text-center">Change password</h1>
    <div class="col" style="margin-left: 37%; color: white">
        <div class="col-lg-3">
            <form method="post" action="{% url 'change_password' %}"
                  enctype="multipart/form-data" class="w-100 m-auto" method="post"
                  style="border: 1px solid grey;border-radius: 25px; padding: 5% 5%; background: blueviolet ">
                {% csrf_token %}
                <label style="margin-left: 5px"> Old password:
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                    {{ form.old_password.errors }}
                    {% endif %}
                </label>
                <label style="margin-left: 5px"> New password:
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                    {{ form.new_password1.errors }}
                    {% endif %}
                </label>
                <label style="margin-left: 5px"> Confirm new password:
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                    {{ form.new_password2.errors }}
                    {% endif %}
                </label>
                <div>
                    <div class="col" style="">
                        <div class="row">
                            <button class="btn btn-primary mt-2" style="width: 100% !important;" type="submit">Change
                                password
                            </button>
                        </div>
                        <div class="row">
                            <a class="btn btn-primary mt-2 " style="width: 100% !important;"
                               href="javascript:history.back()">Cancel</a>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <script>
        function updateImage() {
            var img = document.getElementById('img_preview');
            var url = this.value;
            img.src = url;
        }

        document.getElementById('img_input')
            .addEventListener('input', updateImage);
    </script>
{% endblock %}