a {
    color: white;
    font-weight: bold;
}


html, body {
    height: 100%;
    margin: 0;
    padding-top: 1.5%;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

.footer {
    height: 50px;
    margin-top: -50px;
}




