{% extends 'site.html' %}
{% block site_content %}
    <div class="col" style="margin-bottom: -3%">
        <form method="post" action="{% url 'list pics' %}">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary mt-2">Filter</button>
            <a href="{% url 'list pics' %}" class="btn btn-primary mt-2">Reset</a>
        </form>
    </div>
    <h1 class='text-center' style="height: auto">Drawings</h1>
    <div class="container">
        {% if page_object.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if page_object.has_previous %}
                    <li><a class="page-link" href="?page={{ page_object.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled page-link"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_object.paginator.page_range %}
                    {% if page_object.number == i %}
                        <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_object.has_next %}
                    <li><a class="page-link" href="?page={{ page_object.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled page-link"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            {% for pic in page_object %}
                <div class="col-lg-4">
                    <div class="card" style="width: 22rem;height: 21rem">
                        <a href="{% url 'details' pic.id %}"><img src="{{ pic.image.url }}" class="card-img-top"
                                                                  alt="..."></a>
                        <div class="card-body" style="margin-top: -10px">
                            <h5 class="card-title">Name: {{ pic.name }}</h5>
                            <h5 class="card-title">Created: {{ pic.date_created|date:"M, Y" }}</h5>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock site_content %}
