# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\See_what_i_can_do\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
